.title-project{
    color: var(--orange-yellow-crayola);
    margin-bottom: 20px;
    text-align: center;
}
.presentation{
    color: var(--orange-yellow-crayola);
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
}

.part-projet{
    font-size: 20px;
    text-decoration: underline;
}
.prjt-img{
    display: flex;
    flex-direction: column;
    width: 600px;
    transition: .5s ease-in-out;
}
.prjt-img:hover{
    width: 620px;
}
.prjt-img-struct{
    display: flex;
    flex-direction: column;
    width: 276px;
    transition: .5s ease-in-out;
}
.prjt-img-struct:hover{
    width: 296px;
}
.img-separator-prjt{
    margin: 10px 0;
}
@media (max-width: 1023px){
    .prjt-img,
    .prjt-img:hover {
        width: 500px;
    }
    .notransition{
        transition: none;
    }
    .prjt-img-struct:hover{
        width: 276px;
    }

}

@media (max-width: 767px){
    .prjt-img,
    .prjt-img:hover{
        width: 350px;
    }
}
@media (max-width: 450px){
    .prjt-img,
    .prjt-img:hover{
        width: 300px;
    }
}








/**
BOUTON STAGE VISION15e
 */
.button-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 3px 5px rgb(206, 177, 90), 0px 0px 10px rgba(0,0,0,0.15);
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgb(206, 177, 90) 6%, rgba(255,255,255,0) 9%, rgb(206, 177, 90) 10%, rgba(255,255,255,0) 17%, rgb(206, 177, 90) 19%, rgba(255,255,255,0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
}

button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgb(206, 177, 90), 0px 0px 10px rgba(0,0,0,0.25);
}

button:focus {
    outline: none;
}